name: release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Import PGP key
        run: echo -e "${{ secrets.PGP_SIGNING_KEY }}" | gpg --import

      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          PGP_USER_ID: ${{ secrets.PGP_USER_ID }}
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
